<%- include('../partials/head') %>
<body>
  <div class="wrapper">
    <%- include('../partials/header') %>
    <%- include('../partials/navigation') %>
    
    <main>
      <div class="account-form-container">
        <h1><%= title %></h1>

        <% if (typeof messages !== 'undefined' && messages && messages.length > 0) { %>
          <div class="notice"><%= messages %></div>
        <% } %>

        <% if (typeof errors !== 'undefined' && errors && Array.isArray(errors) && errors.length > 0) { %>
          <ul class="notice">
            <% errors.forEach(function(error) { %>
              <li><%= error.msg %></li>
            <% }) %>
          </ul>
        <% } %>
      
      <!-- Account Update Form -->
      <form action="/account/update-account" method="post">
        <fieldset>
          <legend>Account Update</legend>
          
          <label for="account_firstname">First Name:</label>
          <input type="text" id="account_firstname" name="account_firstname" 
                 value="<%= locals.account_firstname ? account_firstname : (locals.accountData ? accountData.account_firstname : '') %>" required>
          
          <label for="account_lastname">Last Name:</label>
          <input type="text" id="account_lastname" name="account_lastname" 
                 value="<%= locals.account_lastname ? account_lastname : (locals.accountData ? accountData.account_lastname : '') %>" required>
          
          <label for="account_email">Email:</label>
          <input type="email" id="account_email" name="account_email" 
                 value="<%= locals.account_email ? account_email : (locals.accountData ? accountData.account_email : '') %>" required>
          
          <input type="hidden" name="account_id" value="<%= locals.accountData ? accountData.account_id : '' %>">
          
          <input type="submit" value="Update Account">
        </fieldset>
      </form>

      <div style="margin: 2rem 0; border-top: 1px solid #e1e8ed;"></div>

      <!-- Change Password Form -->
      <form action="/account/update-password" method="post">
        <fieldset>
          <legend>Change Password</legend>
          
          <div class="password-requirements">Enter a new password to change your current password. Password must be at least 12 characters and contain at least 1 capital letter, 1 number and 1 special character.</div>
          
          <label for="account_password">New Password:</label>
          <input type="password" id="account_password" name="account_password" 
                 pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{12,}$"
                 title="Password must be at least 12 characters and contain at least 1 capital letter, 1 number and 1 special character"
                 required>
          
          <input type="hidden" name="account_id" value="<%= locals.accountData ? accountData.account_id : '' %>">
          
          <input type="submit" value="Change Password">
        </fieldset>
      </form>
      </div>
    </main>
    
    <%- include('../partials/footer') %>
  </div>
</body>
</html>
